.chart-container {
    height: 100%;
    box-sizing: border-box;
}

.responsive-box {
    background-color: lightblue;
    width: 100%;
    height: 60%;
    min-width: max-content;
    min-height: max-content;
    border: 2px dashed blue;
}