.chart-container {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.responsive-box {
    background-color: lightblue;
    width: 100%;
    height: 60%;
    border: 2px dashed blue;
}
